@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.menu{
    font-size: 4em;
    font-family: 'Marck Script', cursive;
    color: brown;
}
@media(max-width:600){
    .menu{
        font-size: 3em;
    }
}
